@model PMStudio.Web.ViewModels.TenantsViewModels.SingleTenantViewModel
@{
    this.ViewData["Title"] = Model.Name;
}
<div class="text-center">
    <h1 class="display-4">Details about @Model.Name</h1>
    <ul>
        <li class="list-group-item">Tenant Name: @Model.Name</li>
        @if (Model.Property != null)
        {
<li class="list-group-item">Leased Property: @Model.Property.Name</li>}
        <li class="list-group-item">Tenant Rent: @Model.Rate</li>
        <li class="list-group-item">Tenant Lease Term in Months: @Model.LeasePeriod</li>
    </ul>
    <div class="single-meta">
        <a asp-controller="Tenants" asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-secondary">Edit</a>
    </div>
    <div class="single-meta">
        <form method="post" asp-action="Delete" id="deleteForm" asp-route-id="@Model.Id">
        </form>
        <button class="btn btn-danger" data-toggle="modal" data-target="#deleteModal">Delete</button>
    </div>
</div>
<div class="modal" tabindex="-1" role="dialog" id="deleteModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <p>Do you want to delete "@Model.Name"?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" onclick="deleteForm.submit()">Yes</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
            </div>
        </div>
    </div>
</div>